exportPattern("^[[:alpha:]]+")

export("Agg.t", "GoF", "IsReg.ts", "PlotEval", "PlotMC.event", "Correct.radar",
       "IsReg.files", "Smooth.ts", "xts2STFDF", "Create.grid", "Subset.stfdf",
       "Split.stfdf", "Create.grid", "Create.grid.split", "Split.grid", 
       "krigeST.parallel")

exportMethods("MC.setup", "MC.calibra", "Validation_Quantity")

exportClasses(setup)
exportClasses(inputObs)

import(methods)
import(stats)
import(graphics)
import(grDevices)
import(utils)
import(mAr)
import(lmom)

importFrom(DescTools, Trim)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach, "%dopar%", "%do%")
importFrom(gstat, krigeST, vgmAreaST)
importFrom(ggplot2, ggplot, aes, geom_line, geom_ribbon, theme, theme_bw, element_text) 
importFrom(hydroGOF, gof)
importFrom(lattice, xyplot, panel.polygon, panel.superpose, panel.xyplot)
importFrom(moments, skewness)
importFrom(msm, rtnorm)
importFrom(parallel, detectCores, stopCluster, makeCluster, makePSOCKcluster, clusterExport, parLapply)
importFrom(raster, raster, extent, rasterToPoints, res, bind, projection)
importFrom(rgdal, readGDAL)
importFrom(sp, coordinates, bbox, gridded, SpatialPolygonsDataFrame)
importFrom(spacetime, STFDF, stplot, na.locf, geometry)
importFrom(xts, as.xts, xts)
importFrom(zoo, plot.zoo, is.regular, index, coredata)
importFrom(data.table, data.table, setkey, .SD)



